body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/*******************  catalogo   ****************************/
.panel-catalogo-productos .formulario-buscar *{
  display: block;
  margin-right: 15px;
}

.panel-catalogo-productos .panel-heading {
  height: 78px;
}

.panel-catalogo-productos .panel-body{
  padding-left: 10%;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  flex-wrap: wrap;
}
.panel-catalogo-productos .item-producto{
  width: 31%;
  margin: 10px;
}

.panel-catalogo-productos .item-producto {
  width: 31%;
  margin: 10px;
}

/************* item producto *************/
.panel-item-producto{
  text-align: left;
}


.panel-item-producto .imagen-producto{  
  height: 156px;
  cursor: pointer;
}

.panel-item-producto .precio-normal{
  text-decoration: line-through;
  font-size: 9px;
}
.panel-item-producto .precio-internet{
  font-size: 10px;
}
.panel-item-producto .precio-tarjeta-ripley{
  font-size: 12px;
  color: red;
}

.panel-item-producto input{
  width: 45px;
  height: 33px;
}

.panel-item-producto .panel-body div{
  width: 100%;
  
}

.panel-item-producto .catalog-prices-list{
  line-height: 10px;
}

.panel-item-producto .catalog-prices__card-price-image{
  width: 14px;
  height: 9px;
}

.panel-item-producto .subtitulo-producto{
  text-align: left;
  line-height: 12px;
  font-size: 10px;
  max-height: 25px;
}

/************* detalle producto *************/ 

.panel-detalle-producto{
  padding-left: 5%;
  display: block;
  display: -webkit-flex;
  flex-flow: row;
  flex-wrap: wrap;
}
.panel-detalle-producto .imagen-producto{
  padding-left: 20%;  
  height: 350px;
}
.panel-detalle-producto .panel-right{
  padding-top: 2%;
  text-align:left; 
  padding-left: 15%;
  line-height: 20px;
}

.panel-detalle-producto .card-price{
  color: red;
}

.panel-detalle-producto .catalog-prices__card-price-image{
  width: 10%;
  height: 10%;
  vertical-align: -3px;
}

.panel-detalle-producto .back-button{
  width: 100%;
  height: 10%;
}